<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cambio de contrase単a</title>
</head>
<body>
  <h1>Recupera tu contrase単a!</h1>
  <p>Por favor, pulsa en el siguiente enlace para cambiar tu contrase単a:</p>
  <a href="<%= verificationLink %>"">Change Password</a>
  <p>Si no solicitaste recuperar tu contrase単a, por favor ignora este email.</p>
</body>
</html>