<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account Validation</title>
</head>
<body>
  <h1>Bienvenido a nuestra plataforma!</h1>
  <p>Gracias por registrarte. Por favor, haz click en el siguiente enlace para validar tu email:</p>
  <a href="<%= verificationLink %>"">Validar email</a>
  <p>Si no te registraste en nuestra plataforma, por favor ignora este email.</p>
</body>
</html>